<a href="https://colab.research.google.com/github/BetoRdz01/Extraccion-de-Datos/blob/main/Act1_1_Extracci%C3%B3n_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('Detalle precios y productos fabricados 2022.csv', index_col=0)
df.head()

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41

In [27]:
#Filtro por Nombre 
filtro1=df[df["NOMBRE"] == "LETICIA RAMIREZ HERNANDEZ"]
filtro1.to_csv('Filtro1.csv')
filtro1

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,$237.07,$49.41,$49.41,$474.14,$98.82,$187.66,$375.32
F37046,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$94.50,$38.96,$38.96,$283.50,$116.88,$55.54,$166.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...
F39830,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,TORJJS,3,PJ31Q1G1A400,"TER J 3/16""ØX1/2"" EXT3MT MALLA INOX Z/E",$439.15,$0,$123.21,"$1,317.45",$369.62,$315.94,$947.83
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",$712,$102.31,$102.31,"$4,272",$613.88,$609.69,"$3,658.12"
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",$718.60,$104.69,$104.69,"$4,311.60",$628.12,$613.91,"$3,683.48"
F39835,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP","$2,182.35",$0,$596.55,"$6,547.05","$1,789.64","$1,585.80","$4,757.41"
F39837,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT","$5,909.84","$1,884.35","$1,884.35","$5,909.84","$1,884.35","$4,025.49","$4,025.49"

In [28]:
#Filtro por filas
filtro2=df.iloc[ [5, 10, 20, 30, 40, 50] , : ]  #Filas no consecutivas 
filtro2

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,$237.07,$49.41,$49.41,$474.14,$98.82,$187.66,$375.32
F37050,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA","$1,615",$517.89,$517.89,"$1,615",$517.89,"$1,097.11","$1,097.11"
F37061,05/01/2022 00:00,ALFREDO CANELA,ELICAMEX,3,WRE-4885,BAN INOX 36MMØX25MM 150W 240V EXT30CM,$496.35,$27.43,$27.43,"$1,489.05",$82.29,$468.92,"$1,406.76"
F37083,10/01/2022 00:00,ALFREDO CANELA,PEDRO ANTONIO SOTO IBARRA,6,TUE00247,"TUB INOX 7/16""ØX490MM U ESP 3200W 220V",$856.04,$295.24,$295.24,"$5,136.22","$1,771.42",$560.80,"$3,364.80"
F37102,12/01/2022 00:00,ALFREDO CANELA,DEACERO,3,TUE00321,"TUB INOX 1/2""ØX1030MMX980MM 3KW480V ""L""","$12,720",$0,"$1,509.14","$38,160","$4,527.42","$11,210.86","$33,632.58"
F37125,17/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,MANUFACTURAS METALICAS,5,TUS00003,"TUB. INOX. 5/16 Øx615mm. 2000W 440V ""U""""",$531,$85.29,$85.29,"$2,655",$426.47,$445.71,"$2,228.53"

In [29]:
#Filtro por columnas
filtro3=df.iloc[ : , [1,3,4,5,6,7,8]]  #Columnas no consecutivas 
filtro3

,NOMBRE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO
CVE_DOC,,,,,,,
F37034,LETICIA RAMIREZ HERNANDEZ,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80
F37036,LETICIA RAMIREZ HERNANDEZ,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18
F37041,DIEGO ARMANDO LEON DURAN,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68
F37042,DIEGO ARMANDO LEON DURAN,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96
F37043,LETICIA RAMIREZ HERNANDEZ,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71
...,...,...,...,...,...,...,...
F39834,LETICIA RAMIREZ HERNANDEZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",$712,$102.31,$102.31
F39834,LETICIA RAMIREZ HERNANDEZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",$718.60,$104.69,$104.69
F39835,LETICIA RAMIREZ HERNANDEZ,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP","$2,182.35",$0,$596.55
F39837,LETICIA RAMIREZ HERNANDEZ,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT","$5,909.84","$1,884.35","$1,884.35"
F39838,AARON NUÑO CORDOVA,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,"$1,406",$0,$80.66

In [30]:
#Filtro 4: Aplicamos Filtro de filas vs columnas 
filtro4=df.loc[["F37034","F37043"], ["COSTO_UNITARIO_CALCULADO"]]
filtro4

        COSTO_UNITARIO_CALCULADO
CVE_DOC
F37034                    $52.80
F37043                   $101.71
F37043                    $49.41

In [31]:
#Filtro por cabecera
filtro5=df.head(10)
filtro5

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,$237.07,$49.41,$49.41,$474.14,$98.82,$187.66,$375.32
F37044,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,"$14,000","$5,323.76","$5,323.76","$14,000","$5,323.76","$8,676.24","$8,676.24"
F37046,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$94.50,$38.96,$38.96,$283.50,$116.88,$55.54,$166.62
F37048,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA","$1,615",$517.89,$517.89,"$1,615",$517.89,"$1,097.11","$1,097.11"
F37049,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA","$1,615",$517.89,$517.89,"$1,615",$517.89,"$1,097.11","$1,097.11"

In [32]:
#Filtro por comparacion en costo unitario calculado
filtro6=df[df["COSTO_UNITARIO_CALCULADO"] == '$52.80']
filtro6

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68

In [33]:
#Filtro de columna cantidad y columna nombre
filtro7=df[(df["CANT"] > 3) & (df["NOMBRE"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro7

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37073,07/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,KARINA AGUILAR TORRES,5,TP0011,"TERMOPAR CERAMICO T/K"" LONG 12"" CAL 8""",$485,$124,$124,"$2,425",$620,$361,"$1,805"
F37073,07/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,KARINA AGUILAR TORRES,6,TP0012,"TERMOPAR CERAMICO T/ K"" LONG 12"" CAL.14""",$375,$44.14,$44.14,"$2,250",$264.83,$330.86,"$1,985.17"
F37125,17/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,MANUFACTURAS METALICAS,5,TUS00003,"TUB. INOX. 5/16 Øx615mm. 2000W 440V ""U""""",$531,$85.29,$85.29,"$2,655",$426.47,$445.71,"$2,228.53"
F37134,17/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,4,RB00010,BOB 8020 CAL.19 1612W 127V CER-8CANALES,$605,$44.70,$44.70,"$2,420",$178.80,$560.30,"$2,241.20"
F37143,19/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,ALBERTO VILLALOBOS GARCIA,6,BP00241,BAN P COMUN 74MMX50CM 750W 220V T/TOR,$663,$95.82,$95.82,"$3,978",$574.91,$567.18,"$3,403.09"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
F39801,21/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,HOT MELT SISTEMAS Y SERVICIOS SANCHEZ,10,CS58R2200A01,"CAS 5/8""ØX14"" 240V 2000W EXT1MT","$1,357.50",$0,$405.55,"$13,575","$4,055.46",$951.95,"$9,519.54"
F39813,22/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,INGENIERIA DE PLASTICOS E IMPRESIONES,4,CAS00035,"CAR INOX 3/8""Øx8"" 900W, 240V CABLE 30CMS",$759,$0,$681.52,"$3,036","$2,726.10",$77.48,$309.90
F39830,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,TORJJS,6,BP00006,BAN P INOX 1800x25mm 2800W 440V. CABLE,"$1,888",$0,$294.50,"$11,328","$1,767.02","$1,593.50","$9,560.98"
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",$712,$102.31,$102.31,"$4,272",$613.88,$609.69,"$3,658.12"
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",$718.60,$104.69,$104.69,"$4,311.60",$628.12,$613.91,"$3,683.48"

In [34]:
#Filtro de columna cantidad o costo unitario
filtro8=df[(df["CANT"] < 10) | (df["COSTO_UNITARIO"] == "$124")]
filtro8

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,"$1,177.07",$477.16,$477.16,"$2,354.14",$954.32,$699.91,"$1,399.82"
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",$712,$102.31,$102.31,"$4,272",$613.88,$609.69,"$3,658.12"
F39834,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",$718.60,$104.69,$104.69,"$4,311.60",$628.12,$613.91,"$3,683.48"
F39835,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP","$2,182.35",$0,$596.55,"$6,547.05","$1,789.64","$1,585.80","$4,757.41"
F39837,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT","$5,909.84","$1,884.35","$1,884.35","$5,909.84","$1,884.35","$4,025.49","$4,025.49"

In [35]:
#Filtro not con columnas nombres y cantidad
filtro9=df[~(df["NOMBRE"] == 'LETICIA RAMIREZ HERNANDEZ') & ~(df["CANT"] == 1)]
filtro9

,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
F37058,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,MOLINERA DE MEXICO,5,PT00070,"PT-100 1/8""ØX30MM EXT 1.5MT 3HILOS Z/ESP",$192.50,$51.73,$149.60,$481.25,$397.08,$42.90,$84.17
F37059,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,SILCA CERAMICO PRODUCTOS,2,TP0011,"TERMOPAR CERAMICO T/K"" LONG 12"" CAL 8""",$771.28,$124,$124,"$1,542.56",$248,$647.28,"$1,294.56"
F37060,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OSCAR VALDEZ GUADARRAMA,3,PJ31C1F1AA00,"TER J 3/16""ØX2"" EXT.2MT CON-1/2"" NPT",$125,$0,$141.90,$375,$425.69,-$16.90,-$50.69
F37061,05/01/2022 00:00,ALFREDO CANELA,ELICAMEX,5,WRE-2133,BAN MICA 120mmØx50mm 850W 440V TTORNILLO,$821.30,$0,$78.70,"$4,106.50",$393.48,$742.60,"$3,713.02"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BL00002,BL INOX 60mmØx50mm 400W 120/240V EXT30CM,$925.82,$65.31,$65.31,"$1,851.64",$130.63,$860.51,"$1,721.01"
F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00145,BAN INOX 146MMØX40MM 500W230V CINT/ALLEN,"$1,910.50",$286.13,$286.13,"$3,821",$572.25,"$1,624.37","$3,248.75"
F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00146,"BAN INOX 9""ØX3"" ANCH 1700W 230V T/CABLE","$2,020.42",$421.91,$421.91,"$4,040.84",$843.82,"$1,598.51","$3,197.02"
F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,"$1,177.07",$477.16,$477.16,"$2,354.14",$954.32,$699.91,"$1,399.82"
F39838,23/12/2022 00:00,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,"$1,406",$0,$80.66,"$14,060",$806.55,"$1,325.34","$13,253.45"

In [36]:
filtro2.to_csv('Filtro1.csv')
filtro3.to_csv('Filtro2.csv')
filtro4.to_csv('Filtro3.csv')
filtro5.to_csv('Filtro4.csv')
filtro6.to_csv('Filtro5.csv')
filtro7.to_csv('Filtro6.csv')
filtro8.to_csv('Filtro7.csv')
filtro9.to_csv('Filtro8.csv')